.md-header__search {
    margin: 0 auto; /* Centre horizontalement la barre de recherche */
}

.md-header__search input {
    text-align: center; /* Centre le texte dans la barre de recherche */
}

@media (max-width: 768px) {
    /* Ajustement pour les écrans plus petits */
    .md-header__title,
    .md-header__search {
        margin-left: auto;
        margin-right: auto;
    }
}

.main-content {
    display: flex;
    background-color: #7a6d6d;
}

.content-left {
    flex: 3;
    padding-right: 1rem;
}

.content-right {
    flex: 1;
    padding-left: 1rem;
    background-color: #f5f5f5; /* Optionnel : couleur de fond pour la colonne droite */
    border-left: 1px solid #ddd; /* Optionnel : bordure entre les colonnes */
}